/*###################### ROOT #######################*/

:root {
  --primary-color: #0a1128;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
  --gap: 3rem;
  --secondary-color: crimson;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*###################### GERAL #######################*/

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4.5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.section {
  min-height: 100vh;
}

.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.spacing {
  height: 12rem;
}

/*###################### MENU #######################*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid var(--light-gray-color);
}
.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}
.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0%;
  height: 0.2rem;
  background: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0.1rem var(--light-gray-color);
}

/*###################### HOME #######################*/

.home-content {
  display: grid;
  position: relative;
  top: -7rem;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.header-content,
.header-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: var(--font);
}

.header-content p {
  font-size: 2.3rem;
  font-family: var(--font);
}

.header-img {
  max-width: 100vw;
  height: auto;
}

/*###################### INTRO #######################*/

.intro-content {
  max-width: 64rem;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro-content h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5rem;
}

.intro-content p {
  font-size: 2.3rem;
  font-family: var(--font);
  margin-bottom: 3rem;
  text-align: center;
  justify-items: center;
  padding-inline: 5rem;
}

/*###################### TOP 3 #######################*/

.top3-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.top3-content h2 {
  margin-bottom: 1rem;
  font-family: var(--font);
  text-transform: uppercase;
}

.top3-content p {
  margin-bottom: 3rem;
  font-family: var(--font);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  font-family: var(--font);
  position: relative;
  padding-left: 6rem;
  padding-bottom: 3rem;
}
.grid h3::before {
  content: counter(grid-counter);
  counter-increment: grid-counter;
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3rem;
  left: 0;
  transform: rotate(5deg);
}

.top3-content .grid-description {
  margin-bottom: 6rem;
}

/*###################### GALLERY #######################*/

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg) ;
}


